body {
    align-items: center;
    background-color: lightblue;
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
}
#allButtons {
    display: flex;
    flex-direction: row;
}

button {
    font-family: 'Cinzel',serif;
    border-radius: 5px;
}

img {
    height: 5em;
    width: auto;
}

.logChoice {
    font-size: 90%;
    
}

#rules {
    font-size: 70%;
}

.token {
    width: 5em;
    height: 5em;
}

#results {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: space-evenly;
    text-align: center;
}

span {
    display: flex;

    justify-content: space-evenly;
}